@model UpdateResumeDto

@{
    ViewData["Title"] = "UpdateResume";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Update Resume</h4>
        <p class="card-subtitle mb-4">**Fill The All Blanks**</p>

        <form method="post">
            <input type="hidden" asp-for="ResumeId" />
            <div class="form-group">
                <label for="exampleInputOnYears">On Years</label>
                <input class="form-control" id="exampleInputOnYears" asp-for="OnYears" placeholder="Enter On Years">
            </div>
            <div class="form-group">
                <label for="exampleInputTitle">Title</label>
                <input class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="exampleInputDescription">Description</label>
                <input class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="exampleInputUniversity">University</label>
                <input class="form-control" id="exampleInputUniversity" asp-for="University" placeholder="University">
            </div>
            <div class="form-group">
                <label for="exampleInputCvUrl">CvUrl</label>
                <input class="form-control" id="exampleInputCvUrl" asp-for="CvUrl" placeholder="CvUrl">
            </div>

            <button type="submit" class="btn btn-success waves-effect waves-light">Update Resume</button>
        </form>

    </div> <!-- end card-body-->
</div>

