@model UpdateSocialMediaDto

@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Update Social Media</h4>
        <p class="card-subtitle mb-4">**Fill The All Blanks**</p>

        <form method="post">
            <input type="hidden" asp-for="SocialMediaId" />
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input class="form-control" id="exampleInputName" asp-for="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputIcon">Icon</label>
                <input class="form-control" id="exampleInputIcon" asp-for="Icon" placeholder="Icon">
            </div>
            <div class="form-group">
                <label for="exampleInputUrl">Url</label>
                <input class="form-control" id="exampleInputUrl" asp-for="Url" placeholder="Url">
            </div>


            <button type="submit" class="btn btn-success waves-effect waves-light">Update Social Media</button>
        </form>

    </div> <!-- end card-body-->
</div>

