<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="/Admin/AdminBanner/Index/" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Xacton
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                

                
                <li>
                    <a href="/Home/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Go To Site</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminBanner/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Banners</span>
                    </a>
                </li>

                <li>
                    <a href="/Admin/AdminDescription/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Descriptions</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminContactMe/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Contact Messages</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminContactInfo/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Contact Infos</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminAbout/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Abouts</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminProject/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Projects</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminResume/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Resumes</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminService/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Services</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminSkill/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Skills</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminSocialMedia/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Social Medias</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminFooterAddress/Index/" class=" waves-effect">
                        <i class="feather-calendar"></i><span>Footer Addresses</span>
                    </a>
                </li>

               

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>