@model List<ResultContactInfoDto>

    @foreach(var item in Model)
{
    <div class="col-md-6 col-lg-3 d-flex ftco-animate">
        <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
                <span class="@item.Icon"></span>
            </div>
            <h3 class="mb-4">@item.Title</h3>
            <p>@item.Info</p>
        </div>
    </div>
}
